[submodule "data/s-and-p-500-companies"]
	path = data/s-and-p-500-companies
	url = https://github.com/datasets/s-and-p-500-companies.git
[submodule "data/s-and-p-500"]
	path = data/s-and-p-500
	url = https://github.com/datasets/s-and-p-500.git
[submodule "data/s-and-p-500-companies-financials"]
	path = data/s-and-p-500-companies-financials
	url = https://github.com/datasets/s-and-p-500-companies-financials.git
